
#main{
    position: fixed;
    height: 100vh;
    width: 78vw;
    top: 5%;
    right: 0%;
    bottom: 0%;
    transition: width 0.5s ease;
    background-color: rgba(221,220,220, 0.2);
    padding: 20px;
    overflow: auto;
}

#top-bar{
    position: fixed;
    height: 5vh;
    width: 108vw;
    top: 0%;
    right: 0%;
    background-color: rgba(0,0,0, 2);
}

#hamburger{
    fill: black;
    height: 50px;
    width: 0px;
    cursor: pointer;
    transition: width 0.5s ease;
    z-index: 9999;
}

#home{
    height: 50px;
    width: 50px;
    cursor: pointer;
    transition: width 0.5s ease;
    align-self: ;
}

/* The sidebar menu */
#sidenav {
  height: 100vh; /* Full-height: remove this if you want "auto" height */
  width: 22vw; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  top: 5%; /* Stay at the top */
  left: 0;
  padding-left: 0%;
  padding-right: 0%;
  background-color: rgba(51,39,34, 0.2);
  overflow: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  transition: width 0.5s ease;
}

.card-body {
  height: 10rem; /* Full-height: remove this if you want "auto" height */
  margin: 5%;
  background-color: rgba(243,156,18,0.7);
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  margin: 3%;
}


#headline{
    text-align:center;
    width: 100vw;
}

.utilisation{
   text-align:center;
}

#sidetop{
    display:flex;
}

#main-top{
    display:flex;
    align-content: stretch;
}

