<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous"
        />
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
    </script>
</head>
<body>
    <div id="top-bar">
        <h2  style="padding-left:10%; color: white; ">Top bar</h2>
    </div>

    <div id="main">
        <div id="main-top">
            <svg xmlns="http://www.w3.org/2000/svg"
             height="24px"
             viewBox="0 0 24 24"
             width="24px"
             id="hamburger"
             fill="#000000">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
            </svg>
            <h1 id="headline">{% block header %}{% endblock %}</h1>
        </div>
        <hr>
        <canvas id="myChart" style="width:75%; z-index: 1;"></canvas>
    </div>

    <div id="sidenav">
        <div id="sidetop">
            <h1  style="padding-left: 5%; padding-right: 30%;">Utilisations</h1>
            <a href="/">
                <svg xmlns="http://www.w3.org/2000/svg"
                     height="24px"
                     viewBox="0 0 24 24"
                     width="24px"
                     id="home"
                     fill="#000000">
                    <path d="M0 0h24v24H0V0z" fill="none"/>
                    <path d="M12 5.69l5 4.5V18h-2v-6H9v6H7v-7.81l5-4.5M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3z"/>
                </svg>
            </a>
        </div>
        <hr>
        <div class="grid-container">
            <div class="card-body">
                <a class="btn btn-secondary btn-block" href="/M1" role="button">M1</a>
                <br>
                <h2 class="utilisation">{% block util0 %}{% endblock %}%</h2>
            </div>
            <div class="card-body">
                <a class="btn btn-secondary btn-block" href="/M2" role="button" >M2</a>
                <br>
                <h2 class="utilisation">{% block util1 %}{% endblock %}%</h2>
            </div>
            <div class="card-body">
                <a class="btn btn-secondary btn-block" href="/M3" role="button">M3</a>
                <br>
                <h2 class="utilisation">{% block util2 %}{% endblock %}%</h2>
            </div>
            <div class="card-body">
                <a class="btn btn-secondary btn-block" href="/M4" role="button">M4</a>
                <br>
                <h2 class="utilisation">{% block util3 %}{% endblock %}%</h2>
            </div>
        </div>
    </div>

    <script
      type="text/javascript"
      src="{{ url_for('static', filename='javascript/minimise.js') }}">
    </script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='javascript/colour.js') }}">
    </script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='javascript/graphs.js') }}">
    </script>

</body>
</html>